
#createbtn {          
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-background-size: 100 100;  
    -fx-min-height: 30;
    -fx-min-width: 30;
}

#joinbtn {          
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-size: 100 100;

}

#namefield{
    -fx-text-fill: white;
}

#namelabel{
    -fx-text-fill: white;
}
